/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-text-fill: blue; 
	-fx-border-radius: 10; 
	-fx-font-weight: bold; 
}

.root {
	-fx-background-image: url("../Images/gamebg.jpg");
	-fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
